name: Build and Deploy to Cloud Run
on:
  push:
    branches:
      - main
      - build
    paths:
     - 'index.html'
     - 'css/**'
     
# Environment variables available to all jobs and steps in this workflow
env:
    PROJECT_ID: ${{ secrets.RUN_PROJECT }}
    DEFAULT_BRANCH: main
    #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
jobs:
    setup-build-deploy:
        name: Setup, Build, and Deploy
        runs-on: ubuntu-latest
        permissions:
           contents: 'read'
           id-token: 'write'

        steps:
           - uses: actions/checkout@v3
             with:
               fetch-depth: 0

           # Configure Workload Identity Federation and generate an access token.
           - id: 'auth'
             name: 'Authenticate to Google Cloud'
             uses: 'google-github-actions/auth@v1'
             with:
                workload_identity_provider: ${{ secrets.TOKEN }}
                service_account: ${{ secrets.SA_EMAIL }}
                
           # Setup gcloud CLI
           - name: Set up Cloud SDK
             uses: google-github-actions/setup-gcloud@v1
             
             
           - id: 'upload-file'
             uses: 'google-github-actions/upload-cloud-storage@v1'
             with:
               path: 'new-project/desu.txt'
               destination: 'gs://desu-project/desu.txt'
                   
            # upload file
#            - name: gcloud Upload file
#              run: |
#                   gsutil cp new-project/index.html gs://desu-project/index.html
          
