name: Build and Deploy to Cloud Run
on:
  push:
    branches:
      - main
      - build
    paths:
     - 'index.html'
     - 'css/**'
     
# Environment variables available to all jobs and steps in this workflow
env:
    PROJECT_ID: ${{ secrets.RUN_PROJECT }}
    DEFAULT_BRANCH: main
    #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
jobs:
    setup-build-deploy:
        name: Setup, Build, and Deploy
        runs-on: ubuntu-latest

        steps:
           - uses: actions/checkout@v3
             with:
               fetch-depth: 0
           - name: Git config
             run: |
              git config user.name github-actions
              git config user.email github-actions@github.com

            # Setup gcloud CLI
           - name: gcp
             uses: GoogleCloudPlatform/github-actions/setup-gcloud@main
             with:
                  version: '275.0.0'
                  service_account_email: ${{ secrets.SA_EMAIL }}
                  service_account_key: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS}}

            # Configure gcloud CLI
           - name: gcloud Set up
             run: |
                  gcloud config set project $PROJECT_ID
                  
#            - id: 'upload-file'
#              uses: 'google-github-actions/upload-cloud-storage@v1'
#              with:
#                 path: '/path/to/action.yml'
#                 destination: 'gs://desu-project/'
