name: Build and Deploy to Cloud Run
on:
  push:
    branches:
      - main
      - build
    paths:
     - 'index.html'
     - 'css/**'
     - '.github/workflows/static.yml'
        
jobs:
  upload:
    runs-on: ubuntu-latest
    permissions:
           contents: 'read'
           id-token: 'write'

    steps:
      - uses: actions/checkout@v3
        with:
         fetch-depth: 0

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
                credentials_json: ${{ secrets.RUN_SA_KEY}}
                service_account: ${{ secrets.SA_EMAIL }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Upload file to GCS
        run: |
          #gsutil cp desu.txt gs://desu-project/uploadfiles/
          gsutil cp -r new-project gs://desu-project/
